<h2 mat-dialog-title cdkFocusInitial class="text-[16px] font-medium text-white">{{ data.title }}</h2>
<mat-dialog-content class="mat-typography max-w-[780px]">
  <div class="flex flex-row">
    <div class="min-w-[200px] w-[200px] px-4">
      <img [src]="data.images.fixed_width.url" masonryLazy loading="eager" [alt]="data.title" width="200"
        [height]="data.images.fixed_width.height || 248" onerror="this.style.display=''">
    </div>

    <div class="flex flex-grow flex-col">
      <!-- Avatar + username -->
      <div class="flex flex-row">
        <div class="w-[50px] h-[50px] border-gray-600 border">
          <img loading="eager" [src]="data.user.avatar_url" alt="user_avatar" width="50" height="50">
        </div>

        <div class="flex flex-col ml-2">
          <div class="text-[15px] font-medium text-white">{{ data.user.display_name }}</div>
          <a [href]="data.user.profile_url" class="text-[14px] text-gray-300 hover:text-white cursor-pointer mt-1 flex flex-row items-center" target="_blank">
            @{{ data.user.username }}
            <div *ngIf="data.user.is_verified" class="w-[14px] h-[14px] ml-1">
              <svg viewBox="-1 0 18 18" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard-2" transform="translate(-324.000000, -132.000000)" fill="#15CDFF">
                    <g id="Group-3" transform="translate(323.000000, 132.000000)">
                      <polygon class="_3TKzAHOKiB8g0z3rZL240A" id="sprocket"
                        points="8.95093746 16.1755971 6.18494567 16.8455287 4.34519872 14.6949378 1.70947694 13.628319 1.49869564 10.8185214 2.85993451e-13 8.42276436 1.49869564 6.02700728 1.70947694 3.21720971 4.34519872 2.1505909 6.18494567 4.92383911e-14 8.95093746 0.669931593 11.7169293 4.82947016e-14 13.5566762 2.1505909 16.192398 3.21720971 16.4031793 6.02700728 17.9018749 8.42276436 16.4031793 10.8185214 16.192398 13.628319 13.5566762 14.6949378 11.7169293 16.8455287">
                      </polygon>
                      <path
                        d="M9.32727273,9.44126709 L9.32727273,3.03016561 L6.55027155,3.03016561 L6.55027155,10.8150746 L6.55027155,12.188882 L12.1042739,12.188882 L12.1042739,9.44126709 L9.32727273,9.44126709 Z"
                        id="check" fill="#121212"
                        transform="translate(9.327273, 7.609524) scale(-1, 1) rotate(-45.000000) translate(-9.327273, -7.609524) "></path>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <!-- User description -->
      <div class="text-[#A6A6A6] mt-3">
        <span>{{ data.user.description }}</span>
      </div>

      <!-- User Source -->
      <div class="flex flex-col mt-4">
        <div>Source:</div>
        <a [href]="data.user.website_url" class="text-white" target="_blank">{{ data.source_tld || data.user.website_url }}</a>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" data-te-ripple-init data-te-ripple-color="light" mat-dialog-close
    class="mb-3 mr-3 inline-block rounded bg-orange-400 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-orange-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-orange-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-orange-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
    Close
  </button>
</mat-dialog-actions>