.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.is-favorite {
  color: #DB2777 !important;
}
.favorite-icon {
  transition: all 1s ease;
}